![]( https://docs.google.com/uc?export=download&id=1oKIi5t0GlSKAoPTIt1f-DcOu0GcYHDD4)

### Intro

In [1]:
# FGA Big Data Using Python Kelas B 
# =====================================================================
# Kolaborasi Instruktur FILKOM x FMIPA UB 2021
# Di Bawah Naungan Kominfo Pusat x Cisco
# =====================================================================
# Instruktur: Imam Cholissodin, S.Si., M.Kom. 
# Asisten: Yonas Asmara

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir("/content/drive/My Drive")
path = "Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python"
if not os.path.exists(path):
    os.makedirs(path)
os.chdir("/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python")
if not os.path.exists("images"):
  !wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1-A9hoqmtpKWBAu_QjyqUxpcuBXkJ-Gk8' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1-A9hoqmtpKWBAu_QjyqUxpcuBXkJ-Gk8" -O 'images.tar' && rm -rf /tmp/cookies.txt
  !tar -xv -C './' -f './images.tar'

!pwd
!ls -l -a --block-size=K

/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python
total 728K
-rw------- 1 root root   1K Jul 23 01:59 aritmatika.py
-rw------- 1 root root   1K Aug  6 02:02 Data_Generate_Reg.csv
drwx------ 2 root root   4K Aug  4 01:59 flask-sqlite
drwx------ 2 root root   4K Jul 20 09:59 images
-rw------- 1 root root 570K Jul 23 01:19 images.tar
drwx------ 2 root root   4K Jul 23 02:05 LATIHAN_PYTHON
drwx------ 2 root root   4K Jul 23 01:52 __pycache__
-rw------- 1 root root 141K Aug  9 02:16 PySpark_SOM_by_Imam_Cholissodin_On_Colab.ipynb

In [3]:
os.chdir("/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python/flask-sqlite/csv2sqlite")

In [4]:
!pwd

/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python/flask-sqlite/csv2sqlite

In [5]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 5.0 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1793 sha256=911a857d70eda6423c8376aea91296e3e3b836557c9ff5832afe95c44b65a777
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3893 sha256=a02dd9507bb8e7197521516d9b20e23a7a9ef0c5a222aa1527d5ddad4fce2002
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31678 sha256=3fd66c0e9c41481de0e034de2ec46ce88fdc1fd3f49dd661cdf674782ccd855d
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

### Create Tables in Database

In [28]:
import pandas as pd
import sqlite3

In [29]:
#connecting with the database.
db = sqlite3.connect("fga_big_data.db")
db.execute("drop table if exists dataset") 
db.execute("drop table if exists user")
db.execute("drop table if exists transactions")
try:
  db.execute("create table dataset(Name text, Date datetime, Mobile text,Mail text)")
  db.execute("create table user(id integer primary key, Mail text, Password text, Name text, Level text)")
  db.execute("create table transaction(TransactionId integer primary key, InvoiceNo text, StockCode text, Description text, Quantity integer, InvoiceDate timestamp, UnitPrice double, CustomerID text, Country text)")
except:
  print("Already table existed !!")

Already table existed !!

### Insert Data to Tables: dataset and user

In [30]:
db_login = sqlite3.connect("fga_big_data.db")

In [31]:
# Coba membuat 1 data utk tabel dataset, lalu dimasukkan dalam fga_big_data.db
Date = date.today().strftime("%d-%m-%Y")
Name = "Big Data Using Python"
Mobile = "5434534"
Mail = "fga_big_data2@python.com"

# Coba membuat 1 data utk tabel user, lalu dimasukkan dalam fga_big_data.db
Mail_u = "fga_big_data2@python.com"
Password_u = "bigdata"
Name_u = "Big Data Using Python"
Level_u = "1" # 1 Admin, 0 User Non-Admin

In [32]:
cmd = "insert into dataset(Name, Mobile,Date,Mail) values('{}','{}','{}','{}')".format(Name,Mobile,Date,Mail)
db_login.execute(cmd)
db_login.commit()

cmd2 = "insert into user(Mail, Password,Name,Level) values('{}','{}','{}','{}')".format(Mail_u,Password_u,Name_u,Level_u)
db_login.execute(cmd2)
db_login.commit()

### Check Inserted Data: dataset and user

In [33]:
db = sqlite3.connect("fga_big_data.db")
qry = """

SELECT * FROM dataset

"""
df = pd.read_sql_query(qry, db)
df.head()

                    Name        Date   Mobile                      Mail
0  Big Data Using Python  11-08-2021  5434534  fga_big_data2@python.com

In [34]:
db = sqlite3.connect("fga_big_data.db")
qry = """

SELECT * FROM user

"""
df = pd.read_sql_query(qry, db)
df.head()

   id                      Mail Password                   Name Level
0   1  fga_big_data2@python.com  bigdata  Big Data Using Python     1

### Insert Data to Table: transactions

In [35]:
def pushCSVdatasetToDB(TransactionId,InvoiceNo,StockCode,Description,Quantity,InvoiceDate, UnitPrice,CustomerNo,Country):
#inserting values inside the created table
    db = sqlite3.connect("fga_big_data.db")    
    cmd = "insert into dataset(TransactionId,InvoiceNo,StockCode,Description,Quantity,InvoiceDate, UnitPrice,CustomerNo,Country) values('{}','{}','{}','{}','{}','{}','{}','{}','{}')".format(TransactionId,InvoiceNo,StockCode,Description,Quantity,InvoiceDate, UnitPrice,CustomerNo,Country)
    db.execute(cmd)
    db.commit()

In [36]:
data = pd.read_csv("dataset_try.csv")
data.shape
# data.head()

(30, 9)

In [37]:
data.head()

   TransactionId  InvoiceNo StockCode  ... UnitPrice  CustomerID         Country
0              1     537215     82484  ...      5.55       12747  United Kingdom
1              2     537215     21136  ...      1.69       12747  United Kingdom
2              3     545321     20711  ...      1.95       12747  United Kingdom
3              4     537225     51008  ...      3.45       12748  United Kingdom
4              5     537354    85099B  ...      1.95       12748  United Kingdom

[5 rows x 9 columns]